.App-container {
  background-color: rgba(48,138,151, 0.25);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.App-logo {
  background-color: white;
  border-radius: 20px;
  height: 35vmin;
  padding: 20px;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: transparent;
  color: white;
  display: flex;
  flex-flow: column;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  justify-content: center;
  min-height: 40vh;
  text-align: center;
}

.App-header img {
  margin-bottom: 30px;
}

.App-link {
  color: #3d126b;
  font-weight: bold;
}
