.Option {
  background-color: rgb(236, 247, 245);
  border: 25px solid #480264;
  border-radius: 20px;
  box-shadow: 6px 6px 24px rgba(8, 8, 8, 0.5);
  box-sizing: border-box;
  color: #480264;
  font-size: calc(15px + 1.5vmin);
  font-weight: 800;
  text-align: left;
  min-height: 285px;
  margin: 25px;
  max-width: 300px;
  min-width: 215px;
  padding: 15px;
  word-wrap: break-word;
  width: 45vw;
}

.OptionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
}


@media (min-width: 500px) {
  .OptionContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    margin: 0;
    width: auto;
  }
}
